<!-- start custom footer snippets -->
<!-- injects right before footer.html (good for adding banner ads and the like) -->

<div class="page__footer-row">
    <div>
        <ul>
            <li>
                <img src="/assets/images/recompute_logo_long.png" width="150">
            </li>
            <li>
                <a href="mailto:harvardrecompute@gmail.com" class="small">harvardrecompute@gmail.com</a>
            </li>
        </ul>
    </div>
    <div>
        <h4>Quick Links</h4>
        <ul>
            <li>
                Home
            </li>
            <li>
                About us
            </li>
            <li>
                Join our mailing list
            </li>
        </ul>
    </div>
</div>

<!-- end custom footer snippets -->