<!-- start custom footer snippets -->
<!-- injects right before footer.html (good for adding banner ads and the like) -->

<div class="page__footer-row">
    <div>
        <ul>
            <li>
                <img src="/assets/images/recompute_logo_long.png" width="150">
            </li>
            <li>
                <a href="mailto:harvardrecompute@gmail.com">harvardrecompute@gmail.com</a>
            </li>
        </ul>
    </div>
    <div>
        <h4>Quick Links</h4>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about/">About us</a>
            </li>
            <li>
                <a href="https://forms.gle/3yYdSQuZXwWH4sjM7">Join our mailing list</a>
            </li>
        </ul>
    </div>
</div>

<!-- end custom footer snippets -->