<!-- <div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endunless %}
  </ul>
</div> -->

<div class="page__footer-copyright">
  <div>
    &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. 
  </div>
  <div>
    <a href="https://www.freepik.com/free-vector/white-background-with-blue-tech-hexagon_4775334.htm#query=technology&position=2&from_view=search&track=sph&uuid=6fe25228-d49a-4f59-87a0-2ed70d06a0f7">Image by starline</a> on Freepik
  </div>
</div>
